.bg-color {
  background-color: #ffffff;
}

.text-header {
  font-family: "Lucida Sans";
}

.align-item-center {
  position: relative;
  top: 30%;
}

@media (max-width: 940px) {
  .image-wrapper {
    display: none;
  }
}

.bg-body-primary {

}