.bg-color {
  background-color: darkcyan;
}

.text-header {
  font-family: "Lucida Sans";
}

.align-item-center {
  position: relative;
  top: 30%;
}

@media (max-width: 940px) {
  .image-wrapper {
    display: none;
  }
}
