<div class="d-flex justify-content-center m-5">
    <div class="row col-md-8">
        <div class="col-md-6 px-0">
            <p-image src="../../assets/login.jpg" alt="Image" width="100%" height="550"></p-image>
        </div>
        <div class="col-md-6 bg-color">
            <div></div>
            <div class="row align-item-center">
                <h3 class="">Login</h3>
                <div class="col-md-12 p-2">
                    <input class="p-inputtext-sm col-6" type="text" pInputText placeholder="Username"/>
                </div>
                <div class="col-md-12 p-2">
                    <input class="p-inputtext-sm col-6" type="password" pInputText placeholder="Password"/>
                </div>
                <div class="col-md-12 p-2">
                    <button pButton type="button" label="Submit" class="col-md-6 p-button-primary"></button>
                </div>
            </div>
        </div>
    </div>
</div>
